@{
    ViewBag.Title = "Contact";
}
<h3>
    Contact information
    <br/>
</h3>

<address>
   
    Developed by Kostia Hovyenko<br/>
    Ukraine, Rivne<br/>
    <abbr title="Phone">P:</abbr>
    +(380)97 678 99 72
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kostia2448@gmail.com">kostia2448@gmail.com</a><br />
</address>